body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e082f, #000000);
  background-attachment: fixed;
  color: #f0f8ff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(10, 2, 20, 0.95);
  padding: 10px 20px;
  flex-wrap: wrap;
  border-bottom: 2px solid #00ffcc;
  box-shadow: 0 0 10px #00ffcc;
}

.nav-left .logo {
  height: 100px;
}

.nav-center h1 {
  font-size: 2rem;
  color: #00ffcc;
  font-family: 'Get Schwifty', sans-serif;
  text-shadow: 0 0 5px #00ffcc;
}

.nav-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  color: #fff;
}

#filterButton {
  background-color: #00ffcc;
  color: #000;
  font-weight: bold;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 8px #00ffcc;
  transition: transform 0.2s;
}

#filterButton:hover {
  transform: scale(1.05);
  background-color: #12ffe2;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.character-card {
  background-color: rgba(40, 0, 55, 0.85);
  border: 1px solid #00ffcc;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 0 0 8px #00ffcc33;
}

.character-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px #00ffcc;
}

.character-card img {
  width: 100%;
  border-radius: 8px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #00b350;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 20px #00ffcc;
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}


#pagination-container {
  text-align: center;
  margin: 20px;
}

#pagination-container button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #00ffcc;
  border: none;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 8px #00ffcc;
  transition: transform 0.2s;
}

#pagination-container button:hover {
  transform: scale(1.05);
  background-color: #12ffe2;
}
